:root {
  --background-color: white;
  --text-color: rgba(33, 33, 33, 1);
  --font-size: 14px;
  --font-weight: 400;
  --font-style: normal;
  --font-family: "Roboto", "Raleway", sans-serif;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
  --color-button-close: rgb(255, 255, 255);
  --primary-color: #2196f3;
  --secondary-color: #f5f4fa;
  --third-color: #ffffff;
  --fourth-color: #757575;
  --background-color-second: rgba(47, 48, 58, 1);
  --icons-clients-color: #afb1b8;
}
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
}
/* -------------HEADER------------- */
.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__container {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0px 215px;
}

.header__container--left {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 0 0;
}
.header__container--right {
  margin: 0 0 auto 0;
}

.nav__group {
  display: flex;
  padding-left: 93px;
}
.nav__link {
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 16px;
  margin: 4px;
}
.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: var(--primary-color);
}

.contact {
  display: flex;
}

.contact__date {
  color: var(--fourth-color);
  padding: 16px;
  margin: 4px;
  fill: var(--fourth-color);
}
.contact__icon {
  width: 20px;
  height: 15px;
  margin-right: 10px;
}
.contact__date:hover,
.contact__date:focus,
.contact__date:active {
  color: var(--primary-color);
  fill: var(--primary-color);
}

/* -------------LOGO------------- */
.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  display: flex;
  align-items: center;
}

.logo__header--first {
  color: var(--primary-color);
}
.logo__header--second {
  color: var(--text-color);
}
.logo__footer--first {
  color: var(--primary-color);
}
.logo__footer--second {
  color: var(--third-color);
}

/* -------------FOOTER------------- */
.footer {
  background-color: var(--background-color-second);
  height: 252px;
  display: flex;
  justify-content: center;
}
.footer__container {
  width: 1200px;
  margin: 0px 215px;
  padding-top: 60px;
}
.footer__container--left {
  float: left;
  width: 30%;
}
.footer__container--right {
  float: right;
  width: 70%;
}

.footer__address {
  color: var(--third-color);
  line-height: 1.71;
}

.footer__list {
  padding: 0px;
}
.footer__list li {
  padding-bottom: 9px;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer__contact:hover,
.footer__contact:active,
.footer__contact:focus {
  color: var(--primary-color);
}
.footer__title--social {
  margin: 0px;
  padding-bottom: 20px;
  color: var(--third-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.footer__social a {
  padding-right: 10px;
}
.footer__social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  fill: var(--third-color);
}
.footer__social-icon:hover,
.footer__social-icon:focus {
  background-color: var(--primary-color);
}

/* -------------SLIDER------------- */

.slider {
  background-color: var(--background-color-second);
  height: 600px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 94px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url("../images/background-image.jpg");
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: 50% 50%;
}

.slider__container {
  width: 1200px;
  margin: 0px 215px;
}
.slider__btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  padding: 10px 41px 10px 42px;
  color: var(--third-color);
  background-color: var(--primary-color);
}

.slider__title {
  font-size: 44px;
  color: var(--third-color);
  font-weight: 900;
  line-height: 1.36;
  margin: 0px;
  margin-bottom: 40px;
}

/* -------------ARTICLE------------- */
.article {
  margin-bottom: 94px;
  display: flex;
  justify-content: center;
}
.article__group {
  display: flex;
  padding: 0px;
}
.article__container {
  width: 1200px;
  margin: 0px 215px;
}
.article__title {
  font-weight: 700;
  margin: 30px 0px 10px;
}
.article__text {
  color: var(--fourth-color);
  margin: 0px;
}
.article__icon {
  width: 270px;
  height: 120px;
  background-color: var(--secondary-color);
}

/* -------------RESPONSIBILITIES------------- */
.responsibilities {
  margin-bottom: 94px;
  display: flex;
  justify-content: center;
}
.responsibilities__container {
  width: 1200px;
  margin: 0px 215px;
}
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}

.responsibilities__list {
  display: flex;
  gap: 30px;
  padding: 0px;
}

/* -------------PERSONEL------------- */
.personel {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
}

.personel__container {
  width: 1200px;
  margin: 0px 215px;
  padding-top: 94px;
}

.personel__list {
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 30px;
  padding-bottom: 94px;
}
.personel__list li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--third-color);
  padding-bottom: 30px;
}
.personel__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  padding-top: 30px;
}

.personel__body {
  font-size: 16px;
  color: var(--fourth-color);
  line-height: 1.18;
  text-align: center;
}
.personel__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.personel__social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icons-clients-color);
}
.personel__social-icon:hover,
.personel__social-icon:focus {
  background-color: var(--primary-color);
  fill: var(--third-color);
}

/* -------------CLIENTS------------- */
.clients {
  display: flex;
  justify-content: center;
}

.clients__container {
  width: 1200px;
  margin: 0px 215px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__content {
  display: flex;
  padding: 0px;
  gap: 30px;
}

.clients__picture {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-clients-color);
  border-radius: 4px;
  fill: var(--icons-clients-color);
}
.clients__picture:hover,
.clients__picture:focus {
  color: red;
  border-color: var(--primary-color);
  fill: var(--primary-color);
}

/* -------------FILTERS------------- */
.filters {
  display: flex;
  justify-content: center;
}
.filters__container {
  width: 1200px;
  margin: 94px 215px 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filters__btn {
  cursor: pointer;
  background-color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  
}
.filters__btn:hover,
.filters__btn:active {
  color: var(--third-color);
  background-color: var(--primary-color);
}

/* -------------CARDS------------- */
.cards {
  display: flex;
  justify-content: center;
}
.cards__container {
  width: 1200px;
  margin: 0px 215px;
  padding-bottom: 94px;
}
.cards__list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.cards__list li {
  background: var(--third-color);
  border: 1px solid #eeeeee;
}
.cards__list li:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 0px 4px 24px;
}
.card__text {
  font-size: 16px;
  color: var(--fourth-color);
  line-height: 1.87;
  margin: 0px 0px 20px 24px;
}
